<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463646179309-9cbtfar061a8oitl1oqec3f6mha5569q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463646179309-9cbtfar061a8oitl1oqec3f6mha5569q</string>
	<key>API_KEY</key>
	<string>AIzaSyDzDt59BweRJoUdK3gY89SUdTvCnKDHcgs</string>
	<key>GCM_SENDER_ID</key>
	<string>463646179309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>nomad-app-e79f9</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-app-e79f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463646179309:ios:de7d6f69e5607e5c16b1e4</string>
</dict>
</plist>